<div id = "map_items"> 
	<ul id = "map_filter">
		<li><a class = "filter_selected" href = "#"> All Routes</a> </li> 
		<li><a href = "#"> My Routes</a> </li> 
		<li><a href = "#"> My Friends Routes</a> </li> 
		<li><a href = "#"> Other Filter</a> </li> 
	</ul>
					
	<p id = "slogan">Save your travel memories.<br> Help other travelers.<br> Expand the world's routes.
	</p>

	<div style="clear: both;"></div>	

	<p id = "add_button"> 
		<a href = "/add_route" class="addButton"> </a>
	</p>
</div> 

<img src = "imgs/map.jpg" alt = "Route Map"/>
				
<div id = "column1">
	<h3> top-rated routes</h3>
	<div id = "column1_c1">
		<p>The Best of Costa Rica</p>
		<p>Submitted by John Smith</p>
		<p>Duration</p>
		<p>Type</p>
		<p>Budget per person</p>
		<p> <img src = "imgs/map_route_mini.jpg" alt = "Route Map"/> </p>
	</div> 

	<div id = "column1_c2">
		<p>The Best of Costa Rica</p>
		<p>Submitted by John Smith</p>
		<p>Duration</p>
		<p>Type</p>
		<p>Budget per person</p>
		<p> <img src = "imgs/map_route_mini.jpg" alt = "Route Map"/> </p>
	</div> 
</div> 
				
<div id = "column2"> 
	<h3> trending routes</h3>

	<div id = "column2_c1">
		<p>Obama's Trip to Asia</p>
		<p>Submitted by John Smith</p>
		<p>Duration</p>
		<p>Type</p>
		<p>Budget per person</p>
		<p> <img src = "imgs/map_route_mini.jpg" alt = "Route Map"/> </p>
	</div> 

	<div id = "column2_c2">
		<p>Hippie Trail</p>
		<p>Submitted by John Smith</p>
		<p>Duration</p>
		<p>Type</p>
		<p>Budget per person</p>
		<p> <img src = "imgs/map_route_mini.jpg" alt = "Route Map"/> </p>	
	</div> 
</div>